<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/genre/">Genre</a> 

<h1>Genre of Movies</h1>
		<h1>We don't know what is going in here yet</h1>
        <p>This is where we will continue to do stuff</p>
	</body>
</html>